$color-dark-background:         #465660;
$color-dark-foreground:         white;

$color-brand-background:        $color-brand;
$color-brand-foreground:        white;

$color-light-background:        $color-brand;
$color-light-foreground:        white;

.work-bar{
  display: table;
  width: 100%;
  border: 1px solid transparent;
  height: em(50);
  border-radius: 0 0 2px 2px;
  .work-bar__item-icon{
    height: 100%;
    display: block;
    line-height: em(50);
  }
  .flexbox &{
    display: flex;
    align-items: center;
  }
}

.work-bar--large{
  height: em(70);
}

.work-bar__item{
  @include transition(text-shadow 0.2s ease-out);
  display: table-cell;
  vertical-align: middle;
  border-style: solid;
  border-width: 0 1px 0 0;
  border-color: transparent;
  height: 100%;
  line-height: 1.2;
  padding: em(6);
  &:last-child{
    border-right-width: 0;
    padding-right: 0;
  }
  .flexbox &{
    display: flex;
    align-items: center;
  }
}

.work-bar__item--center{
  @extend .work-bar__item;
  @extend .text-center;
  .flexbox &{
    justify-content: center;
  }
}

.work-bar__item-text{
  @extend %uppercase;
  position: relative;
  font-weight: 700;
  font-size: em(10);
  width: 100%;
  display: inline-block;
  & > *{
    position: absolute;
    bottom: em(-11, 10);
    right: 0;
  }
}

//Needs to be refactored
.work-bar--large .work-bar__item-text{
  & > *{
    display: none;
    bottom: em(-22, 10);
  }
}

.work-bar__item-arrow{
  border: 12px solid transparent;
  border-color: transparent white white transparent;
  height: 0;
  width: 0;
}


.work-bar--dark{
  @include workbar-theme($color-dark-background, $color-dark-foreground, $color-dark-background);
}

.work-bar--brand{
  @include workbar-theme($color-brand-background, $color-brand-foreground, $color-brand-background);
}

.work-bar--default{
  @include workbar-theme($color-light-background, $color-light-foreground, $color-light-background);
}
