ul,ol{
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}
dl{
  margin-top: 0;
}
.list{
  padding: 0;
  margin: 0 0 $base-spacing-unit;
  & > li{
    margin-bottom: $half-spacing-unit;
  }
}
.definition-list{
  line-height: 1.6;
  > dd{
    margin-left: 0;
    margin-bottom: $half-spacing-unit / 2;
    &:last-child{
      margin-bottom: 0;
    }
  }
}
.definition-list__title{
  font-weight: bold;
}
.list--inside{
  padding: 0;
  list-style-position: inside;
}

.list--default{
  .list__title{
    color: #56B69F;
  }
  color: $gray;
  a{
    color: inherit;
  }
}

.numbered-list{
  counter-reset: list;
  list-style: none;
  padding: 0;
  margin-top: 0;
  .numbered-list__number{
    counter-increment: list;
    position: relative;
    display: inline-block;
    &:before{
      @extend %round-number;
      @include round-number-style();
      content: counter(list);
    }
  }
}

.numbered-list__figure{
  line-height: 1;
}

.numbered-list--side{
  .numbered-list__number,
  .numbered-list__figure{
    float: left;
    margin-right: $half-spacing-unit / 2;
  }
  .numbered-list__item{
    overflow: hidden;
  }
}

.numbered-list--small-side{
  .numbered-list__number,
  .numbered-list__figure{
    float: left;
    margin-right: $half-spacing-unit;
    margin-top: -5px;
  }
  .numbered-list__item{
    overflow: hidden;
  }
  @media #{$small} {
    .numbered-list__number,
    .numbered-list__figure{
      float: none;
      margin-bottom: floor($half-spacing-unit / 2);
    }
    .numbered-list__item{
      overflow: visible;
    }
  }
}

.numbered-list--large{
  .numbered-list__number{
    &:before{
      @extend .round-number--large;
    }
  }
}

.numbered-list--light{
  .numbered-list__number{
    &:before{
      @include round-number-style(#B1D4D1);
    }
  }
}

.numbered-list--outside{
  & > li,
  .numbered-list__content{
    padding-left: 30px;
  }
  .numbered-list__number{
    &:before{
      position: absolute;
      right: 100%;
      top: -3px;
    }
  }
}

.numbered-list--default{
  .numbered-list__number:before{
      background-color: $gray-light;
  }
}
.numbered-list--dark{
  .numbered-list__number:before{
      background-color: darken($brand-default, 20%);
  }
}
.numbered-list--green{
  .numbered-list__number:before{
    background-color: $brand-success;
  }
  .numbered-list__figure{
    color: $brand-success;
  }
}
