$color-background-item:           $gray-light;
$color-border-item:               $gray-lighter;


$too-short:     $brand-danger;
$weak:          $brand-danger;
$good:          $brand-warning;
$strong:        $brand-success;

$colors-collection: 'too-short', weak, good, strong;
$strength-collection: $too-short, $weak, $good, $strong;

.password-strenght{
  display: block;
  overflow: hidden;
  margin-top: 3px;
  margin-bottom: 7px;
}
.password-protection__text{
  font-weight: 600;
  font-style: italic;
  //color: $color-foreground-alt;
}
.password-protection__text > *{
    &:after{
      content: "None";
      text-transform: capitalize;
    }
}
.password-strenght__item{
  float: left;
  width: 100%;
  padding-right: 3px;
  width: 33.333%;
  &:last-child{
    padding-right: 0;
  }
  & > *{
    background: #E6E8E9;
    border: 1px solid #DAE0E3;
    height: 5px;
  }
}

@for $i from 0 to length($colors-collection) {
    .password--#{nth($colors-collection, $i+1)} {
        $colLength: length($strength-collection);
      .password-strenght__item:nth-last-child(n + #{$colLength - ($i)}) > *{
          background-color: lighten(nth($strength-collection, $i+1), 10%);
          border-color: darken(nth($strength-collection, $i+1), 10%);
      }
      .password-protection__text > *{
          color: darken(nth($strength-collection, $i+1), 10%);
          &:after{
            content: "#{nth($colors-collection, $i+1)}";
          }
      }
    }
}
