.tooltip{
  position: relative;
}
.tooltip:after{
  @include transition(opacity 0.6s linear 0.3s);
  @include rem(120, max-width);
  padding: 2px 4px;
  font-size: em(8);
  font-weight: 400;
  background: rgba(black, 0.6);
  border-radius: $border-radius-small;
  color: white;
  content: attr(title);
  position: absolute;
  opacity: 0;
  display: none;
  right: 0%;
  bottom: 120%;
  text-align: center;
  letter-spacing: 0;
}

// .tooltip:hover:before{
//     border: solid;
//     border-color: #333 transparent;
//     border-width: 6px 6px 0 6px;
//     bottom: 20px;
//     content: "";
//     left: 50%;
//     position: absolute;
//     z-index: 99;
// }

.tooltip:hover:after{
  display: block;
  opacity: 1;
}


.tooltip--top-left:after{
  right: 0%;
  bottom: 120%;
}
