.main-header{
  @media #{$medium} {
    padding: 0 20px;
    position: fixed;
    width: auto;
    left: $navigation-width;
    right: 0;
    z-index: 200;
  }
  .user-box{
    float: right;
    margin-bottom: 0;
    margin-top: em(12);
  }
}
