.layout,
.navigation--dashboard,
.navigation__link{
  @include transition(all 0.2s ease-out);
}

.navigation--dashboard{
  width: $navigation-width;
  margin-left: $navigation-width * -1;
  @media #{$medium} {
    left: $navigation-width;
  }
}

.layout{
  @media #{$medium} {
    padding-left: $navigation-width;
    left: 0;
  }
}
.main-content{
  clear: both;
  padding: 20px;
  @media #{$medium} {
    padding-top: 76px;
  }
}
.wrapper{
  @extend .cf;
  position: relative;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 5px;
}
