extends /layouts/_default

block content
  
  h1.ksg-jumbo Style Guide

  .ksg-wrapper
    h2.beta Base Styles
    ul
      li: a(href="grid-system.html") Grid System
      li: a(href="typography.html") Typography
      li: a(href="buttons.html") Buttons