extends /layouts/_default

block content
  section
    h1.ksg-jumbo Typography
    
    .ksg-wrapper
      section
        h1.gamma Headings
        .ksg-preview
          h1.alpha Heading 1
          h2.beta Heading 2
          h3.gamma Heading 3
          h4.delta Heading 4
          h5.epsilon Heading 5
          h6.zeta Heading 6
        .ksg-code
          code
            pre.prettyprint.
              &#x3C;h1 class=&#x22;alpha&#x22;&#x3E;Heading 1&#x3C;/h1&#x3E;
              &#x3C;h2 class=&#x22;beta&#x22;&#x3E;Heading 2&#x3C;/h2&#x3E;
              &#x3C;h3 class=&#x22;gamma&#x22;&#x3E;Heading 3&#x3C;/h3&#x3E;
              &#x3C;h4 class=&#x22;delta&#x22;&#x3E;Heading 4&#x3C;/h4&#x3E;
              &#x3C;h5 class=&#x22;epsilon&#x22;&#x3E;Heading 5&#x3C;/h5&#x3E;
              &#x3C;h6 class=&#x22;zeta&#x22;&#x3E;Heading 6&#x3C;/h6&#x3E;