// FUNCTIONAL COLOR OVERRIDES

$brand-success:                    #8ABF7B; // override
$brand-danger:                     #D42036; // override
$brand-default:                    #6C818B; // override
$text-color-primary:               $gray;

// FUNCTIONAL COLOR ADDITIONAL

$hr-border:                        $gray-lighter;